body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.rps_options {
    display:flex;
    justify-content: center;
    gap: 10px; /* Adjust spacing between images*/
    position: relative; 
}

.rps_options img {
    width: 20%;
    margin: 0 10px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    cursor: pointer;
    position: relative;
}

.rps_options img.fade-out {
    opacity: 0;
}

.rps_options img.center {
    z-index: 1;
    justify-content: center;
}

#computer-choice-img {
    width: 20%;
    margin: 0 10px;
}