body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.rps_options {
    display:flex;
    justify-content: center;
    gap: 10px;                      /* Adjust spacing between images*/
    position: relative; 
}

.rps_options img {
    width: 20%;
    margin: 0 10px;
    transition: transform 3.0s ease, opacity .5s ease;  
    cursor: pointer;
    position: relative;
}

.rps_options img.fade-out {
    opacity: 0;
    /* display: ; */
}

.rps_options img.center {
    /* transition: transform 3.0s ease; */
    position:inherit;
    /* position:relative; */
    /* justify-content: center; */
    /* align-items: center; */
    transform: translate(50%, 0%); 
    /* margin: 0 auto; */
    cursor: auto;
    
}

#computer-choice-img {
    width: 20%;
    margin: 0 10px;
}